.App {
  text-align: center;
}

/* .p-home{
  background: url('C:\\sarai\\react projects\\final project\\my-world\\src\\img\\home.jpg') no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;

} */