*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

.sign-container{
  background: url(".\\img\\home1.jpg") no-repeat center center fixed ;
  background-size: cover;
  height: 100vh;
}

.login-container{
  background: url(".\\img\\login.jpg") no-repeat center center fixed ;
  background-size: cover;
  height: 100vh;
  opacity: 0.8;
}

 .sign-form{
  background-color:rgba(255,255, 255, 0.6);
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-shadow: -3px -2px 8px -2px rgba(0,0,0,0.87); 
  box-shadow: -3px -2px 8px -2px rgba(0,0,0,0.50);
  padding: 80px 40px ;
  border-radius: 5px;
} 

.logo{
  margin: auto;
  width: 70%;
}

.logo-nav{
  padding-right: 20px;
  margin: auto;
  width: 200px;
}
.sub-title{
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  text-align: center;
}

.start{
  font-size: 1.5rem;
  margin: 10px auto ;
  letter-spacing: -0.05rem;
  text-align: center;
}

.p-login{
  margin: 0;
}

.container{
  background-color: #127597;
  padding: 0;
}

.btn{
  background-color: #127597;
}

.google-map{
  width: 100%;
}

.gmap-container{
  padding: 0;
}
.g-map{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; 
  margin: auto;
  margin-bottom: 10px;
}

.marker-color{
  width: 30px;
  height: 45px;
  background: url(".\\img\\1.svg") ; 
  background-size: cover;
}

.hotels{width: 30px;
  background: url(".\\img\\hotels.svg") ;
  background-size: cover;
}


.restaurnts{
  background: url(".\\img\\restaurnts.svg") ;
}
.sites{
  background: url(".\\img\\sites.svg") ;
}
.hotels{
  background: url(".\\img\\hotels.svg") ;

}

.shopping{
  background: url(".\\img\\shopping.svg");
}

.transportation{
  background: url(".\\img\\transportation.svg") ;
}

.marker-place{
  width: 30px;
  height: 45px;
  background-size: cover;
}

.marker-place:hover{
  width: 40px;
  height: 60px;
  z-index: 9999 !important;
}

.pin-marker{
  width: 40px;
  height: 60px;
  z-index: 9999 !important;
}
.marker-info{
   display: none; 
 }

.marker:hover>.marker-info {
 
  background-color: rgba(68, 59, 68, 0.8);
  color : white !important;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  display:inline-block;

}
.list-group-item{
  
  border: 1px rgb(225,227,228) solid !important; 
}

.p-lists{
  height: 100vh;
  overflow:scroll;
}
.p-maps{
  margin: auto;
  height: 100vH;
}
.list-bar{
  padding: 0;
  
}
/* .list{
  height: 100vh;
} */

.map-container{
height: 100vh; 
  background-color: #127597;
 
}

g{
  height: 100%;
  width: 100%;
}

.title{
  font-size: 1.5 rem !;
  font-weight: 500;
}

.add-place{
  margin: 10px 30px;


}
.search{
  padding: 30px;
}

.pac-container {
  z-index: 9999 !important;
  width: 94%;
  margin-bottom: 15px;
}

.card-header{
  background-color: #e3e9ee;
}

.pac-target-input{
  display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check{
  margin-bottom: 10px;
}
 
.add-error{
  padding-top: 40px;
}
.search-items{
  position: absolute;
}
 
@media screen and (max-height: 800px) {
  .p-sign{
    overflow-y: scroll;
    height: 90vh;
  }
  .map-container{
    margin:auto;
  }
  .p-maps{
    position:unset;
  }

  .p-maps{
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  .date{
    font-size: 12px !important;
  }
  
  
}
.error{
  color: red;
  font-weight: 400;
}

@media screen and (max-width: 768px){

  .row{
    flex-wrap: wrap-reverse;
  }

  .map-container{
    height: auto; 
  }

  .gmap-container{
    height: 500px;
  }

  .p-maps{
    overflow:visible;
  }
}
